<p>
  <strong>Commenter:</strong>
  <%= comment.user.email %>
</p>
<p>
  <strong>Body:</strong>
  <%= simple_format(comment.body) %>
</p>
<p>
  <strong>Date created:</strong>
  <%= comment.created_at %>
</p>
<% if comment.user == current_user || current_user&.admin? %>
    <%= link_to 'delete comment', article_comment_path(article_id: comment.article.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'edit comment', edit_article_comment_path(article_id: comment.article.id, id: comment.id)%>
<% end %>
<hr />
