<h1>My Article</h1>

<p>
 <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Text:</strong>
  <%= simple_format(@article.text) %>
</p>
<p>
  <strong>Tags:</strong>
  <% @article.tags.map do |tag| %>
    <%= link_to tag, articles_path(q: tag), class:"badge badge-pill badge-dark" %>
  <% end %>

</p>


<h2>Comments</h2>

<%= render @article.comments %>

<h3>Add comment:</h3>

<%= render 'comments/form' %>

<%= link_to 'Back to Articles', articles_path %>
<%= link_to 'Edit Article', edit_article_path(@article) %>
<%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %>
